html,
body,
ul,
menu,
p,
ol {
  margin:  0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  border: none; 
  outline: none;
  background: none;
}

a , .btn {
  cursor: pointer;
}